<ul id="tweets" data-controller="pagination" data-action="turbo:before-cache@document->pagination#preserveScroll turbo:before-render@document->pagination#injectIntoVisit">
  <%= render partial: "tweets/tweet", collection: tweets, layout: "li" %>

  <li data-pagination-target="ignored">
    <% if page.last? %>
      No more pages!
    <% else %>
      <%= link_to root_path(page: page.next_param), data: { action: "turbo:click->pagination#prepareVisit" } do %>
        Next page
      <% end %>
    <% end %>
  </li>
</ul>

<%= turbo_frame_tag tweets.new do %>
  <%= link_to new_tweet_path, data: { turbo_frame: "dialog" } do %>
    New
  <% end %>
<% end %>
