<section id="entries" class="max-w-prose max-w-sm w-full lg:w-1/3">
  <% 10.times do |number_of| %>
    <article class="h-full border-2 border-t-0 border-gray-200 p-6 space-y-2">
      <header class="text-xs title-font font-medium text-gray-500">
        <a href="#">
          on <%= localize number_of.days.ago, format: :short %>
        </a>
      </header>

      <div>
        <%= localize number_of.days.ago, format: :short %> was <strong><%= pluralize number_of, "day" %></strong> ago.
      </div>

      <aside class="flex justify-between items-center flex-wrap">
        <a href="#" class="flex text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 outline-none focus:ring">
          <span class="sr-only">from</span>
          <span class="border rounded-full p-1 mr-1 bg-blue-500">
            <svg class="h-4 w-4 text-white" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <title>Alice</title>

              <text text-anchor="middle" x="50%" y="50%" dy="0.35em" fill="currentColor" font-family="Arial">
                a
              </text>
            </svg>
          </span>

          alice
        </a>

        <div class="flex justify-between items-center divide-x-2">
          <button class="flex items-center text-gray-600">
            <svg role="presentation" class="w-4 h-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg>
            <span class="sr-only">Retweet</span>
          </button>

          <a href="#" class="flex items-center text-gray-600">
            <svg role="presentation" class="w-4 h-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
            </svg>
            <span class="sr-only">Reply</span>
          </a>

          <button class="flex items-center text-gray-600">
            <svg role="presentation" class="w-4 h-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>

            <span class="sr-only">Delete</span>
          </button>
        </div>
      </aside>
    </article>
  <% end %>

  <div class="hidden last-of-type:flex justify-center my-6">
    <a href="#" rel="next" class="py-2 px-4 bg-black text-white font-semibold rounded-lg shadow-md hover:bg-yellow-300 focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:ring-opacity-75">
      Load more
    </a>
  </div>
</section>
