<%= turbo_frame_tag "dialog" do %>
  <h1>New Tweet</h1>

  <section class="w-full lg:w-1/3">
    <%= form_with model: @tweet, id: "new_tweet", class: "grid cols-2 gap-y-2 p-6", data: { turbo_frame: "_top" } do |form| %>
      <%= render partial: "tweets/form", object: form %>
    <% end %>
  </section>
<% end %>
